h1{
color:red;
animation-name:asd;
animation-duration:5s;
animation-iteration-count:infinite;
}
@keyframes asd{
	0%{color:red;}
	25%{color:blue;}
	50%{color:yellow;}
	75%{color:orange;}
	100%{color:pink;}
}